*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: rgb(24, 25, 27);
}
    .header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.navbar a{
    font-size: 1.15rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 3rem;
}


#check{
    display: none;
}
.icons{
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*Portada*/
.portada{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.portada::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 80vh;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 0;
}

.portada h1{
    font-size: 5rem;
    margin-inline: 10%;
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000,0px 2px 0px #000, 0px -2px 0px #000;
    z-index: 1;
}
.portada p{
    font-size: 2rem;
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000,0px 2px 0px #000, 0px -2px 0px #000;
    z-index: 1;

}

/*Contenido*/
/*definicion*/
.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    font-family:'Times New Roman', Times, serif;
}
.conten-intro, .subnav{
    width: 80%;
    margin-top: 5vh;
    display: block;
    padding: 5%;
    background-color: rgb(45, 48, 52);
    color: #fff;
    border: 2px solid rgb(81, 86, 93);
    border-radius: 30px;
}
.conten-intro hr{
    margin-block: 2vh;
    height: .4vh;
    background-color: rgb(81, 86, 93);
    border-style: none;
}
.conten-intro h2{
    font-size: 2rem;
}
.conten-intro p{
    font-size: 1.5rem;
    text-align: justify;
}

/*blocks*/
.subnav{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5rem;
}
.block{
    width: 100%;
    height: 45vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    background-color: rgb(20, 20, 20);
}
.block .img{
    width: 90%;
    height: 30vh;
    position: relative;
    top: -10%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.block .descr{
    width: 85%;
}
.block .ref{
    width: 85%;
    margin-top: 5%;
}
.ref a{
    background-color: rgb(59, 130, 246);
    border-radius: 25px;
    padding: .4rem 1rem;
    color: #fff;
    text-decoration: none;
}
.ref a:hover{
    background-color: rgb(80, 139, 255);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, .5), -1px 0px 3px rgba(0, 0, 0, .5),0px 1px 3px rgba(0, 0, 0, .5), 0px -1px 3px rgba(0, 0, 0, .5);

    
}
/*fondos imgs de blocks*/
.tipos-img{
    background-image: url(../img/fototipos.png);
}
.elementos-img{
    background-image: url(../img/elementos-img.jpg);
}
.venydes-img{
    background-image: url(../img/venydes.png);
}
.prov-img{
    background-image: url(../img/prov-img.jpg);
}
.img::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.9));
    border-radius: 20px;
}


/*footer*/
.footer{
    width: 100%;
    margin-top: 5vh;
    padding: 5% 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    background: rgba(10, 10, 10);
    
}


.footer .redes{
    width: 30%;
    margin-top: 3vh;
}
.footer .copy{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2vh;
}
.footer .copy hr{
    width: 55%;
}
.redes .icon-redes{
    width: 100%;
    font-size: 1.5rem;
}
.icon-redes ul{
    width: 100%;
    display: flex;
    gap: 2rem;
    list-style: none;
}
.icon-redes ul a{
    color: #fff;
}
.icon-git a:hover{
    color: #9999;
}
.icon-insta a:hover{
    color: #f753f7;
}
.icon-tiktok a:hover{
    text-shadow: 2px 2px rgb(255, 0, 0), -1px -1px rgb(0, 200, 255);
}



/*Responsive*/
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
    .portada .tipos{
        font-size: 3rem;
        font-weight: 300;
    }
    .portada .Elementos{
        font-size: 3rem;
        font-weight: 200;
    }
    .portada .p-provee{
        font-size: 1.3rem;
        font-weight: 100;
    }
   
    .conten-intro h2{
        font-size: 1.5rem;
    }
    .conten-intro p{
        font-size: 1.2rem;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
        right: 5%;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .icons #close-icon{
        display: none;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .3);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: all,.3s;
    }
    #check:checked~.navbar{
        height: 18rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: all, .3s;
        opacity: 0;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    

    .conten-intro, .subnav{
        width: 90%;
    }


    .subnav{
        grid-template-columns: repeat(1,1fr);
        padding-block: 10vh;
    }
    .block{
        height: 47vh;
    }


    /*footer*/
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 5vh 0;
        
    }
    .footer .copy{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }
    .footer .copy h3{
        font-size: 1rem;
    }
    .up{
        display: flex;
        position: fixed;
        bottom: 2rem;
        right: .8rem;
        font-size: 2rem;
    }
    
}

